<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>nodejs学习lession1</title>
    <link  rel="stylesheet" type="text/css" href="assert/plugins/bootstrap/css/bootstrap.css"/>
    <!--<link ref="stylesheet" type="text/css" href="assert/plugins/bootstrap/css/bootstrap.css">-->

    <style>
      .index_mytest_div{
        padding: 50px;
      }
    </style>
  </head>
  <body>
  <div class="row index_mytest_div">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row"><h1>node.js练习</h1></div>
      <div class="row"><img src="3.jpg" style="width: 100%;"></div>
      <div class="row">
        <a href="/login" class="btn blue">登录 </a>
        <a href="/register" class="btn default">   注册</a>
      </div>


      </p>
    </div>
    <div class="col-md-4"></div>
  </div>
  <script src="assert/plugins/jquery/js/jquery-1.10.2.min.js" type="application/javascript"></script>
  <script src="assert/plugins/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
<script>
  jQuery(document).ready(function() {
    // initiate layout and plugins

  });
</script>
  </body>
</html>
