<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>nodejs学习lession1</title>
    <link ref="stylesheet" type="text/css" href="assert/plugins/bootstrap/css/bootstrap.min.css">
    <!--<script src="assert/plugins/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="assert/plugins/jquery/js/jquery-1.10.2.min.js"></script>-->

  </head>
  <body>
  <div class="panel">
    <h1>node.js练习</h1>
    <p><a href="/login" class="btn blue">登录 </a>
      <a href="/register" class="btn default">   注册</a>
    </p>
  </div>

  </body>
</html>
